.meme-editor {
  margin: 2rem 1rem;
  flex-direction: column;
}

.meme-editor .canvas-container {
  margin-inline-end: 1rem;
}

.features {
  margin: auto;
}

.main-box {
  max-width: 360px;
}

.meme-editor > * {
  flex-basis: 50%;
}

.meme-editor :last-child {
  height: 100%;
}
.features input[type='text'] {
  width: 100%;
  height: 25%;
}

.features input[type='text'],
.features .secondary-features {
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.features .font-color.font-family {
  margin-bottom: 1rem;
}

.features .font-color.font-family,
.features .secondary-features {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.features select {
  flex: 1;
}
.features .font-color.font-family > *,
.features .secondary-features > *,
.features .main-features > * {
  margin-inline-end: 10px;
  border-radius: 5px;
}

.features .main-features {
  margin-bottom: 1rem;
}

.emojis {
  background-color: var(--light-color);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
  display: flex;
}

.emojis > span.btn {
  margin: auto;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
}

.emojis > :first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.emojis > :last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.additional {
  width: 100%;
  justify-content: space-evenly;
}
.additional > * {
  flex: 1;
  margin: 0 0.4rem;
  flex-basis: 33%;
  border-radius: 10px;
  background-color: var(--primary-color) !important;
}
.additional > *:hover {
  background-color: var(--light-color) !important;
}

.additional > :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.share-container a {
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
