.main-footer {
  flex: 1;
  margin-bottom: 2rem;
}

.main-footer > * {
  padding: 2rem;
  font-size: 2rem;
}

.main-footer p {
  margin: 1rem;
}

.icons > * {
  padding: 0.5rem 1rem;
  border-right: 1px solid var(--light-color);
  cursor: pointer;
  transition: 0.4s ease all;
}

.icons > *:hover {
  background-color: var(--secondary-color);
}

.icons > .fa-instagram:hover {
  color: #833ab4;
}
.icons > .fa-github:hover {
  color: #ad5c51;
}
.icons > .fa-facebook-f:hover {
  color: #3b5998;
}
.icons > .fa-linkedin:hover {
  color: #0072b1;
}

.icons > :first-child {
  border-left: 1px solid var(--light-color);
}
