.meme-gallery .grid,
.saved-memes.grid {
  grid-auto-flow: dense;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 250px);
}

.search-bar {
  margin: 1rem auto;
  border-radius: 30px;
}

.search-bar > :first-child {
  padding: 1rem;
  border-radius: 50px;
}

.search-bar > * {
  margin: 1rem auto;
}
.search-bar > div:last-child {
  border-radius: 50px;
}

.search-bar > div:last-child > * {
  border-right: 1px solid #e5e5e5;
}

.search-bar > div:last-child > :last-child {
  border: none;
}

.img-container {
  margin-bottom: 2rem;
}

.img-container > * > img {
  cursor: pointer;
  transition: 0.2s all ease;
}

.img-container > * > img:hover {
  outline: 5px solid #ff7f00;
}

/* Saved Memes Section */
.saved-memes {
  margin: 2rem 0;
}
