.main-header .main-nav > * {
  padding: 40px 20px;
}

.main-header {
  margin: 0 1rem;
}

.main-header .main-logo {
  padding: 80px 80px;
  background: url('/img/LOGO/LOGO.png') no-repeat center center/contain;
}
