.main-header .main-nav > * {
  padding: 40px 20px;
}

.header-container {
  width: 100%;
}

.main-header .main-logo {
  padding: 40px;
  background: url('../../img/LOGO/LOGO.png') no-repeat center center/contain;
}

.header-container > ul > li {
  border-radius: 10px;
}

.header-container > ul > li:hover {
  outline: 2px solid #e5e5e5;
}
