* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.main-layout {
  max-width: 960px;
}

.active {
  outline: 2px solid var(--secondary-color);
}
