.btn {
  border: none;
  transition: 0.4s all ease;
}
.btn.key-search-btn:hover {
  background-color: #fff;
}
.btn.key-search-btn:hover:last-child {
  border-end-end-radius: 50px;
  border-start-end-radius: 50px;
}
.btn.key-search-btn:hover:first-child {
  border-start-start-radius: 50px;
  border-end-start-radius: 50px;
}

.btn.change-stroke-btn,
.btn.change-fill-btn {
  position: relative;
}

.features .btn {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
}

.btn-stroke-img,
.btn-fill-img {
  position: absolute;
  left: 0;
}

.btn input {
  position: relative;
  z-index: 10;
  opacity: 0;
}

.btn.change-font-family {
  width: 100px;
}

.btn:hover {
  background-color: #ff7f00;
}

.btn {
  cursor: pointer;
}

span.btn.key-search-btn:hover {
  padding: 1.55rem;
}
